[Desktop Entry]
Name=Eucalyptus
Comment=Advanced MIME e-mail program
Comment[pl]=Program pocztowy z obsługą MIME
Exec=eucalyptus
Icon=eucalyptus-logo.png
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
