[Desktop Entry]
Name=Eucalyptus
Comment=Advanced MIME e-mail program
Comment[pl]=Klient poczty z obsługą MIME
Exec=eucalyptus
Icon=eucalyptus-logo.png
Terminal=0
Type=Application
# vi: encoding=utf-8
